.hello {
  color: red;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-items h3 {
  text-align: left;

  /* border-bottom: 1px solid rgb(216, 207, 207); */
  padding-bottom: 2px;
}

.list-items {
  width: 400px;

  /* display: flex; */

  /* flex-direction: column; */
  justify-content: center;
  list-style: none;
  text-align: left;
  background-color: white;
  float: right;
}

.check {
  position: relative;
  top: 35px;
  margin-left: -20px;
}

.not-completed {
  color: red;
}

.main {
  background-color: rgb(233, 229, 226);
}

hr {
  width: 110%;
  margin-left: -40px;
}

.addtask {
  width: 100%;
  border-style: none;
  font-size: 15px;
  font-style: italic;
  margin-left: -40px;
  padding-left: 40px;
  border-bottom: 1px solid rgb(151, 147, 147);
  height: 40px;
}

.clear {
  width: 440px;
  font-size: 30px;
  padding: 20px;
}

.cleardiv {
  margin-top: -25px;
}
